.App {
  text-align: center;
}

button, input[type=submit], button.todo-buttons {
  width:10%;
}
button.todo-buttons {
  height: 80%;
  width: 40%;
}

input[type=text] {
  width:70%;
}

input.form-input-box{
  width:70%;
}
.todo-text,.todo-buttons-div{
  display:inline-flex;
}

.todo-buttons-div {
  width: 10%;
  min-width: fit-content;
}
.completed-text{
  display:inline-flex;
  text-decoration: line-through;
}
.todo-buttons {
  background-color: aquamarine;
  margin-left: 5px;
}
p{
  text-align: center;
  
}
li {
  list-style-type:none;
  margin: 0 auto;
  width: 100%;
  font-size: 2em;
  
}
li:nth-child(even) {
  background-color: rgba(152, 236, 174, 0.301);
}
li:nth-child(odd) {
  background-color: rgba(139, 230, 201, 0.452);
}

#completed-todos-ul > li:nth-child(even) {
  background-color: rgba(153, 152, 236, 0.301);
}
#completed-todos-ul > li:nth-child(odd) {
  background-color: rgba(139, 153, 230, 0.452);
}
.todo-edit-form-hidden {
  display: none;
}

ul {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0);
  padding: 0;
  width: 100%;
  justify-content: center;
}

.div-todo-text-btns-containers {
  display:flex;
  justify-content: space-between;
}