.App {
  text-align: center;
}

input.form-input-box {
  display: inline-flex;
  width: 75%;
  height: 2em;
  font-size: 1.25em;
  padding-left: 1em;
  border-top-left-radius: 1.25em;
  border-bottom-left-radius: 1.25em;
  border-top-right-radius: 0em;
  border-bottom-right-radius: 0em;
  background-color: rgba(210, 250, 245, 0.644);
  box-shadow: 0em .2em .5em .1em lightslategrey;
}
button#add-todo-form-button {
  display: inline-block;
  width: 17%;
  min-width: 5em;
  white-space: pre;
  font-size: 1.25em;
  border-bottom-left-radius: 0em;
  border-top-left-radius: 0em;
  border-top-right-radius: 1.25em;
  border-bottom-right-radius: 1.25em;
  text-align: center;
  box-shadow: 0em .2em .5em .1em lightslategrey;
}

.todo-buttons-div {
  float:right;
  width: fit-content;

}
.todo-text,.todo-buttons-div{
  display:inline-flex;
  flex-direction: row;
  align-items: center;
}

button.todo-buttons {
  border-radius: 4em;
  height:3em;
  width: 3em;
  font-size: .75em;
}

.edit-form-textboxes {
  display: inline-flex;
  height: max-content;
  font-size: .75em;
  flex-direction: row;
  float:left;
  margin-left: .5em;
  margin-bottom: .5em;
  width:75%;
}

.edit-form-buttons {
  float: right;
  font-size: .5em;
  margin: 5px 5px 0 5px;
}

.completed-text{
  display:inline-flex;
  text-decoration: line-through;
}
.todo-buttons {
  margin-left: 5px;
  margin-right: 5px;
  height:1em;
  background-color: inherit;
}

p{
  text-align: center;
  padding-left: .5em;
}
li {
  list-style-type:none;
  margin: 0 auto;
  width: 100%;
  font-size: 2em;
  
}

li:nth-child(1) {
  border-top-left-radius: .75em;
  border-top-right-radius: .75em;
}
li:last-child {
  border-bottom-left-radius: .75em;
  border-bottom-right-radius: .75em;
}
li:nth-child(even) {
  background-color: rgba(152, 236, 174, 0.301);
}
li:nth-child(odd) {
  background-color: rgba(139, 230, 201, 0.452);
}

h1 {
  margin-top: 1em;
  margin-bottom: 1em;;
}

#completed-todos-ul > li:nth-child(even) {
  background-color: rgba(153, 152, 236, 0.301);
}
#completed-todos-ul > li:nth-child(odd) {
  background-color: rgba(139, 153, 230, 0.452);
}
.todo-edit-form-hidden {
  display: none;
}

ul {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0);
  padding: 0;
  width: 100%;
  justify-content: center;
}

.div-todo-text-btns-containers {
  display:flex;
  justify-content: space-between;
}

div#add-todo-form-container {
  display: flex;
  flex-flow: column nowrap;
  
}

form.task-form {
  display:flex;
  justify-content: center;
  
}
